
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* margin-top: 40px; */
    /* max-height: 359px; */
}

.card:hover {
    box-shadow: 0px 0px 8px 1px ;
    transition: box-shadow .2s;
}

.card__icons {
    position: relative;
}

.card__percent { 
    position: absolute;
    max-width: 58px;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--sale-color);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: var(--base-color);
    border-radius: 20px;
}

.card__logo {
    height: 18px;
    width: 20px;
    position: absolute;
    right: 0;
    left: auto;
}

.card__favorit {
    cursor: pointer;
    background: none;
}

.card__nofavorit-icon{ 
    stroke: black;
    /* opacity: 0.5; */
    /* z-index: 10; */
}

.card__favorit-icon{ 
    fill:var(--sale-color); 
    
}

.card__desc {
    
}
.card__link {
    display: flex;
    flex-direction: column;
}
.card__pic{
    max-width: 100%;
}


.card__price {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.card__old-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-decoration: line-through;   
}

.card__new-price {   
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: var(--sale-color);
}
.card__how {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--sorting-color);
    margin-top: 6px;
}

.card__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
}

.card__wrap-btn { 
    margin-top: 16px;
    
}

.card__btn:hover {
    background-color: var(--basket-color);
    transition: background-color.2s;
}

.card__btn {
    cursor: pointer;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 55px
}
