
.product__btn {
    margin-top: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--sorting-color);
    cursor: pointer;
}

.product__block {
   display: flex;  
}

.product__articles {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--sorting-color);
}

.product__stars {
    margin: 0px 18px;
}
.product__reviews{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--star-color);   
}

.pictures {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pictures__image {
    position: relative;
}

.pictures__percent {
    position: absolute;
    max-width: 58px;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--sale-color);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: var(--base-color);
    border-radius: 20px;
}

.pictures__img {
  
    max-width: 468px;
    max-height: 468px;
    /* object-fit: cover; */
}

.pictures__pic {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 10px 10px 0px;
    opacity: 0.3;     
}

.pictures__thumbnail {
    max-width: 80px;
    max-height: 80px;
    margin: 0px 40px;  
}

.pictures__price{
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.pictures__old-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
}

.pictures__new-price {
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    color: var(--sale-color);
}

.pictures__wrap-basket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pictures__counter {
    flex: 1 1 50%;
    display: flex;
    max-width: 109px;
    margin-top: 24px;
    justify-content: center;
    border: #7B8E98 solid 1px;
    border-radius: 100px;
}

.pictures__minus {
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
}

.pictures__zero {
    margin: 10px 17px;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
}

.pictures__plus {
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
}

.pictures__wrap-btn{
    display: flex;
    flex: 1 1 50%;
    max-width: 218px;
    justify-content: center;
    margin-top: 24px;
    background-color: var(--bg-color);
    border-radius: 55px
}

.pictures__btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--bg-color); 
}

.pictures__stock {
    /* padding-top: 15px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:var(--sorting-color);
}

.pictures__wrap-favorites {
    display: flex;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
}

.pictures__icon-heart {
    max-width: 16px;
    max-height: 16px;
    stroke: black;
}

._activ {
    fill: var(--sale-color);
}

.pictures__favorites-text {
    margin-left: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:var(--sorting-color);
}

.pictures__wrap-delivery {
    display: flex;
    margin-top: 24px;
    padding: 12px 0px 0px 17px;
    background: rgba(236, 239, 241, 0.5);
    border-radius: 12px;
}

.pictures__icon-delivery {
    max-width: 26px;
    max-height: 21px;
    fill: var(--sorting-color);
}

.pictures__delivery {
    display: flex;
    flex-direction: column;
    margin-left: 17px ;
}

.pictures__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
}

.pictures__courier {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0px;
}

.pictures__office {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.pictures__wrap-quality {
    display: flex;  
    margin-top: 8px;
    background: rgba(236, 239, 241, 0.5);
    border-radius: 12px;
    padding: 8px 0px 0px 17px;
}

.pictures__icon-quality {
    max-width: 23px;
    max-height: 30px;
    margin-bottom: 14px;
}
.pictures__quality {
    margin: 8px 0px;
    margin-left: 17px;
   
}

.pictures__title-quality {   
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;   
}

.pictures__text-quality {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;   
}

.description {
    margin: 40px 0px;  
}

.description__wrap-title {
    margin-bottom: 20px;
}
.description__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
}

.description__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.description__wrap-characteristic {
    margin: 40px 0px;
}

.description__titles {
    margin-bottom: 22px;
}

.description__wrap-weight {
    display: flex;
    margin-bottom: 22px;
}

.description__block-weight {
    min-width: 140px;
}

.description__weight {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--sorting-color);
}

.description__border-weight {
    margin-left: 5px;
    color: var(--sorting-color);
}

.description__wrap-price {
    display: flex;
    margin-bottom: 22px;
}

.description__block-price { 
    min-width: 140px;   
}

.description__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--sorting-color);   
}

.description__border-price {
    margin-left: 5px;
    color: var(--sorting-color);
}

.description__wrap-benefit {
    display: flex;
    margin-bottom: 22px;
}

.description__block-benefit {
    min-width: 140px;
}

.description__benefit {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--sorting-color);
}

.description__border-benefit {
    margin-left: 5px;
    color: var(--sorting-color);
    font-size: 16px;
}

.description__one-benefit {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.description__two-benefit {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.description__three-benefit {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.description__four-benefit {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.description__five-benefit {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.reviews {
}

.reviews__wrap-title {
}

.reviews__title {
}

.reviews__wrap-btn{
    margin: 25px 0px;
}

/* .reviews__wrap-text{
    margin-top: 20px;
} */

.reviews__btn {
    margin: 20px 0px;
    margin-right: 20px;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #CFD8DC;
    border-radius: 87px;
    cursor: pointer;
}

.reviews__grade-text {
     margin-right: 15px;
}

.reviews__wrap-form{
    margin-bottom: 20px;
}

.reviews__textarea{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 16px;
    border: 1px solid #CFD8DC;
    background: var(--base-color);
    border-radius: 12px;
    min-width: 356px;
    margin: 8px 0px;
    resize: none;
}

.reviews__wrap-reviews {
    display: flex;

}

.reviews__wrap-user {
    margin-bottom: 8px;
    margin-left: 20px;   
}
.reviews__avatar{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}
.reviews__user {
    margin-right: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}
.reviews__data {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--sorting-color); 
}

.reviews__trash{
    /* display: none; */
    opacity: 0.5;
    margin-left: 25px;
    cursor: pointer;
}
.reviews__trash:hover{
    opacity: 1;
}

.reviews__rating{  
    margin: 16px 0px;
}

.reviews__wrap-where{
    margin-bottom: 16px;
    
}
.reviews__where{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--sorting-color);
}
.reviews__wrap-text {
    margin-bottom: 37px;
}
.reviews__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }