
.header{
    background-color:var(--bg-color);
}

.header__container {
    display: flex;
    justify-content: space-between; 
}

.header__wrap-logo{  
    margin: 12px 0px;
    flex: 1 1 26.5%;
}

.header__logo-img {
    max-width: 195px;
    height: 56px;
}

.header__wrap-search {
    flex: 1 1 47%;
}

.header__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin: 16px 0px;
    padding: 12px 20px; 
    background-color:var(--base-color);
    border-radius:24px;   
}

.header__search-input{    
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 20px;
    flex-grow: 1; 
    padding-right: 10px;
    border: none;
}

.header__search-btn{
    border: none;
    background-color: var(--base-color);
    cursor: pointer;
    opacity: 0.3;
}

.header__wrap-close{ 
    width: 16px;
    height: 16px;
}

.header__close-img{
     width: 16px;
     height: 16px;
}

.header__wrap-icons{
    margin: 28px 0px;
    flex: 1 1 26.5%;
}

.header__icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__entry{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 5px;
}

.header__heart{
    position: relative;
}

.header__heart-counter{
    background-color: #01A54E;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	width: 19px;
	height: 14px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: absolute;
	bottom: 60%;
	left: 70%;
}

.header__heart-img{
    stroke: var(--text-color);
    height: 18px;
    width: 20px;
}

.header__bag{
    padding-left: 24px;
    cursor: pointer;
}

.header__bag-img{
    height: 20px;
    width: 18px;   
}

.header__muzzle{
    padding-left: 24px; 
    cursor: pointer;
}

.header__muzzle-img{
    height: 24px;
    width: 18px;   
}
