/* Общие стили,технические классы,переменные CSS */
*{
   box-sizing: border-box;
   font-family: Nunito;
   color: var(--text-color);
   text-decoration: none;
   margin: 0px;
   padding: 0px;
   font-style: normal;
   border: none;
   background: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/* .wrapper {
  min-height: 100%;
  overflow: hidden; 
} */

:root{
  --bg-color:#FFE44D;
  --text-color:#1A1A1A;
  --sale-color:#F44336;
  --novelty-color:#03A9F4;
  --basket-color:#01A54E;
  --sorting-color:#7B8E98;
  --base-color:white;
}

._container {
  max-width: 992px;
  margin: 0 auto;
}

._socials-size {
  width: 24px;
  height: 24px;
}

